.game-board_main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board_board {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.game-board_row {
    display: flex;
    flex-grow: 1;
}

.game-board_cell {
    flex-grow: 1;
}

.game-board_light-cell {
    background-color: rgb(200, 200, 200);
}

.game-board_dark-cell {
    background-color: rgb(50, 50, 50);
}